<%- include('./partials/head') %>
<%- include('./partials/header') %>
<h1><%= titulo %></h1>
<p><%= subtitulo %> na cor <%= cor %> por apenas R$ <%= preco %>,00</p>
<%- include('./partials/footer') %>