<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
  <h1><%= titulo %></h1>
  <p><%= subtitulo %><%= locals.textoPromo && ' | ' + textoPromo %></p>
  <section>
    <h2><%= subtitulo %></h2>

    <% for(let produto of produtos) { %>

    <article>
      <img src="<%= produto.imagem %>" alt="Imagem do produto <%= produto.nome %>" height="100px" width="100px">
      <h3><%= produto.nome %></h3>
      <% if(produto.precoPromo) { %>
      <p>DE R$ <%= produto.preco %>,00 POR APENAS R$ <%= produto.precoPromo %>,00</p>
      <% } else { %>
      <p>APENAS R$ <%= produto.preco %>,00</p>
      <% } %>
      <a href="" class="btn">Ver detalhes</a>
    </article>

    <% } %>
  </section>
</main>

<%- include('./partials/footer') %>